body {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 18px;
  margin: 0 auto;
}

a:link {text-decoration: none; color: #2d373c}
a:visited {text-decoration: none; color: #2c2e35}

#opaque-image {
   position: absolute;
   height: 100px;
   width: 100vw;
   padding: 0;
   opacity: 0.7;
   background: url(/header_bkgd.jpg) no-repeat;
   z-index: -1;
   border-color: gray;
 }

header {
  max-width: 1024px;
}

header .title {
  position: relative;
  top: 40px;
  font-size: 40px;
  padding-left: 40px;
}

header .subtitle {
  position: relative;
  top: 40px;
}

header nav {
  font-size: 20px;
  margin: 50px 0 0 0;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav .horizontal-list > li {
  display: inline-block;
  text-decoration: none;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  /*background-color: #E9F0BD;*/
  border-radius: 5px;
  padding: 5px;
}

.user {
  float: right;
  position: relative;
}

.dropdown {
  display: none;
}

li:hover > .dropdown {
  position: absolute;
  display: block;
  background-color: #E9F0BD;
  list-style: none;
  border-radius: 5px;
  margin: 0;
  padding: 0;
}

.dropdown li {
  margin: 5px;
}

.mainstuff {
  margin: 0 auto;
}

footer {
  position: fixed;
  padding: 5px;
  right: 0;
  bottom: 0;
  left: 0;
}
