<html>
<head>
  <title>All markets</title>
</head>

<body>
  <h2>Markets</h2>
  <ul>
    <% @markets.each do |market| %>
      <li><a href="/markets/<%=market.id%>"><%= market.name%></a></li>
    <% end %>
  </ul>

  <a href="/markets/new">Create New</a>
</body>
</html>
