New Market
<form method="POST" action="/markets/create">
  <table>
    <tr> <td>Name:</td> <td><input type="text" name="market[name]"/></td></tr>
    <tr> <td>Street address:</td> <td><input type="text" name="market[street_address]"/></td></tr>
    <tr> <td>City:</td> <td><input type="text" name="market[city]"/></td></tr>
    <tr> <td>State:</td> <td><input type="text" name="market[state]"/></td></tr>
    <tr> <td>Zip Code:</td> <td><input type="text" name="market[zipcode]"/></td></tr>
</table>
  <input type="submit" value="Create Market"/>
</form>
<a href="/markets">Cancel</a>
