<html>
<head>
  <title>Find Farmers Markets</title>
</head>

<body>
<h1>Here's the home page</h1>

<ul>
  <li><a href="/markets">Markets</a></li>
  <li><a href="/vendors">Vendors</a></li>
  <li><a href="/products">Products</a></li>

</ul>

<!-- This next bit needs to be worked on: -->
<a href= "/vendors/login" >Vendor login</a>
