<!DOCTYPE html>
<html>
<head>
  <title>Vendor List</title>
</head>

<body>

  <ul>
    <% Vendor.all.each do |vendor| %>
      <li>
        <a href="<%= vendor.path %>" > <%= vendor.name %> </a>
      </li>
    <% end %>
  </ul>
  <a href="/vendors/new">Create a new vendor</a>
</body>

</html>
