<!DOCTYPE html>
<html>
<head>
  <title>Vendor login</title>
</head>

<body>
  <form method="POST">
    Vendor ID: <input name="id" type="number"/>
    <input type="submit" value="login"/>
  </form>
</body>
</html>
