<!DOCTYPE html>
<head>
  <title>Sign up a new vendor</title>
</head>

<body>
  <form method="POST" action="/vendors#create"><br>
    <table>
      <tr><td>Vendor name:</td><td><input name="vendor[name]"/></td></tr>
      <tr><td>Market id:</td><td><input name="vendor[market_id]"/></td></tr>
      <tr><td>Description:</td><td><input name="vendor[description]"/></td></tr>
      <tr><td>Website:</td><td><input name="vendor[website]"/></td></tr>
      <tr><td>Email:</td><td><input name="vendor[email]"/></td></tr>
      <tr><td>Phone:</td><td><input name="vendor[phone]"/></td></tr>
    </table>

    <input type="submit"/>

  </form>
</body>
</html>
