<form method="POST" action="/vendors#create">
  Vendor name <input name="name"/>
  Market id <input name="market_id"/>
  Description <input name="description"/>
  Website <input name="website"/>
  Email <input name="email"/>
  Phone <input name="phone"/>

  <input type="submit"/>

</form>
