<!DOCTYPE html>
<head>
  <title>Sign up a new vendor</title>
</head>

<body>
  <form method="POST" action="/vendors#create"><br>
    Vendor name <input name="vendor[name]"/><br>
    Market id <input name="vendor[market_id]"/><br>
    Description <input name="vendor[description]"/><br>
    Website <input name="vendor[website]"/><br>
    Email <input name="vendor[email]"/><br>
    Phone <input name="vendor[phone]"/><br>

    <input type="submit"/>

  </form>
</body>
</html>
