<html>
<head>
  <title><%= Vendor.find(params[:id]).name %>'s Products</title>
</head>

<body>
  <h2><%= Vendor.find(params[:id]).name %>'s Products</h2>
  <ul><% Product.where(vendor_id: params[:id]).each do |product| %>
    <li><%= product.name %></li>
    <% end %>
  </ul>
</body>
</html>
