header {
  height: 100px;
  min-width: 750px;
  padding: 0;
}

#opaque-image {
  position: absolute;
  height: 100px;
  width: 100vw;
  padding: 0;
  opacity: 0.5;
  background: url(header_bkgd.jpg) no-repeat;
  z-index: -1;
}

#title {
  position: relative;
  top: 10px;
  left: 10px;
  margin: 0;
}

nav {
  padding: 50px 0 0 25vw;
}

body {
  background-color: #fff;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  line-height: 18px;
  margin: 0;

}

p, ol, ul, td {
  // font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
