<!DOCTYPE html>
<html>
<head>
  <title>Products</title>
</head>

<body>
  <h1>List of all products</h1>
  <ul>
    <% Product.all.each do |product| %>
      <li>
        <%= product.name %>
      </li>
    <% end %>
  </ul>
</body>

</html>
